.App {
  width: 100vw;
  height: 100vh;
  background-color: gainsboro;
}
li{
  list-style: none;
}

.Corpo{
  display: flex;
  width: 100vw;
  height: 80vh;
}
.Barra-Nav{
  width: 20vw;
  height: 80vh; 
  background-color: darkgrey;
}
.Main{
  width: 80vw;
}